# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Environment variables
.env

# Python
__pycache__/
*.pyc.DS_Store
.DS_Store
.venv/
.coverage
.pytest_cache/
